<main>
    <h1 class="AccountManagement">
        <%= title %>
    </h1>

    <%- messages() %>

        <div class="Welcome">
            <h2>Welcome New</h2>
            <p>You are logged in.</p>
        </div>
</main>