<div class="hero">
    <h1>Welcome to CSE 340 Motors</h1>
    <div class="hero-content">
        
        <img class="hero-img" src="/images/vehicles/deloreamWEbpIA.webp" width="3708" height="1886" alt="DMC Delorean car image">
        <div class="call-action">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </div>
       
    </div>
    <div class="features">
        <div class="upgrades">
            <h3>DMC Delorean Upgrades</h3>
            <div class="upgrade-item">
                <img src="/images/upgrades/capcitorFluxPNG.png" width="250" height="277" alt="Delorean capacitor">
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/flame1.png" width="259" height="256" alt="Delorean flame icon">
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/sctiker1.png" width="295" height="232" alt="Delorean bumper stickers">
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/cap1.png" width="259" height="256" alt="Delorean hub caps">
                <a href="#">Hub Caps</a>
            </div>
        </div>
        <div class="reviews">
            <h4>DMC Delorean Reviews</h4>
            <p>"So fast it´s almost like traveling in time." (4/5)</p>
            <p>"Coolest ride on the road." (4/5)</p>
            <p>"I´m feeling McFly!" (5/5)</p>
            <p>"The most futuristic ride of our day." (4/5/5)</p>
            <p>"80´s livin and I love it!." (5/5)</p>
        </div>
    </div>
</div>