<div class="hero">
    <h1>Welcome to CSE 340 Motors</h1>
    <div class="hero-content">
        <img class="hero-img" src="/images/vehicles/deloreamPngIa.png" alt="DMC Delorean">
        <div class="call-action">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </div>
    </div>
</div>