<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

    <body>
        <h1>Add Vehicle Classification</h1>
        
        <%- messages() %>

            <form action="/inv/add-classification" method="POST" id="addClassificationForm" novalidate>
                <label for="classification_name">Classification Name</label>
                <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z0-9]+$"
                    title="No spaces or special characters allowed.">
                <button type="submit">Add Classification</button>
            </form>
    </body>

</html>